<% for(let i=0; i < applicationsList.length ; i++){%>
    <tr class="dynamicTableRow" style=" font-size:13px;" id="table-row-2">
        <td style="text-align:center">
            <input type="checkbox"
              id="<%=applicationsList[i].id%>">
        </td>
        <td style="text-align:center">
            <%=applicationsList[i].ua_name%> </td>
        <td style="text-align:center">
            <%=applicationsList[i].icici_id%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_application_number%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].ca_main_table%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_applicant_name%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_flow_type%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_phone_number%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_card_type%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_pricing_code%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_is_card_applied%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_rejection_reason%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_approved_remarks%>
             <td style="text-align:center">
            <%=applicationsList[i].icici_req_income_doc%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_current_address_pincode%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_permanent_address_pincode%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_gems_arn%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_bre_decision%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_ckyc_approver_decision%>
             <td style="text-align:center">
            <%=applicationsList[i].icici_current_status%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_app_status%>
             <td style="text-align:center">
            <%=applicationsList[i].icici_idisb_dma%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_se_id%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_status%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_submission_status%>
             <td style="text-align:center">
            <%=applicationsList[i].icici_current_city%>
             <td style="text-align:center">
            <%=applicationsList[i].icici_region%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_created_date%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_location%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_rbm_name%> </td> 
             <td style="text-align:center">
            <%=applicationsList[i].icici_emp_name%> </td> 
             <td style="text-align:center">
            <%=applicationsList[i].icici_delink_dat%> </td> 
             <td style="text-align:center">
            <%=applicationsList[i].icici_delinker%> </td> 
             <td style="text-align:center">
            <%=applicationsList[i].icici_vkyc_opted_flag%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_initiated_flag%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_created_at%> </td>
             <td style="text-align:center">
            <%=applicationsList[i].icici_updated_at%> </td>
    </tr>
    <%}%>
        <input id="newTotalCount" type="hidden" value="<%=totalCount%>"></input>