<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/commonHeader'); %>
        <link href="./admin/assets/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
</head>

<body>
    <!--  -->
  
    <div class="app align-content-stretch d-flex flex-wrap">
        <%- include('../common/commonSidebar',  {sidebarData : sidebarDataByServer}); %>
            <%- include('../common/commonModals'); %>
            <%- include('../common/commonLoader'); %>
                <div class="app-container">
                    <div class="app-content">
                        <div class="content-wrapper">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div class="app-content">
                                            <h1 class="application-title  bold">
                                                Edit Card Issuer
                                            </h1>
                                            <div class="top-btns">
                                                <button class="ci-btn ci-btn-red d-none" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                                                <button class="ci-btn d-none" id="publish" data-bs-toggle="modal" data-bs-target="#publishModal">Publish</button>
                                                <button class="ci-btn ci-btn-green" id="update" disabled>Update</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card bg-card">
                                        <form>
                                            <div class="ci-card-body newoffer card-body">
                                                 <div class="col-8 shadowBox p-4" id="left-form">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="IssuerName" class="form-label ">Issuer Name<span class="required">*</span></label>
                                                            <input type="text" class="form-control" id="IssuerName" name="IssuerName">
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <label for="Website" class="form-label ">Website</label>
                                                            <input type="text" class="form-control" id="Website" name="Website">
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <label for="Application_Tracking_Link" class="form-label ">Application Tracking Link</label>
                                                            <input type="text" class="form-control" id="Application_Tracking_Link" name="Application_Tracking_Link">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <label for="Description" class="form-label ">Description</label>
                                                            <textarea type="text" class="form-control form-textarea" id="Description" name="Description" required> </textarea>
                                                        </div>
                                                    </div>
                                                    <label for="CardApplication" class=" mt-4 text-primary ">Card Application</label>
                                                    <div class="selectBox row">
                                                        <div class="row mt-4">
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-2">
                                                                        <label for="UniqueID" class="form-label ">Unique ID</label>
                                                                        <input type="number" min="1" step="1" class="form-control" id="UniqueID" name="UniqueID">
                                                                    </div>
                                                                    <div class="col-3">
                                                                        <label for="ApplySequence" class="form-label"
                                                                        ><a href="/card-issuer-sequences">Apply Sequence</a></label>
                                                                        <input type="number" min="1" step="1" class="form-control" id="ApplySequence" 
                                                                        disabled name="ApplySequence">
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <label for="sequence" class="form-label "> 
                                                                            <a href="/card-issuer-sequences">Sequence</a></label>
                                                                        <input type="number" min="1" step="1" class="form-control" id="sequence" 
                                                                        disabled
                                                                        name="sequence">
                                                                    </div>
                                                                    <div class="col-2 mt-2">
                                                                        <div class="d-flex flex-column justify-content-center align-items-center ">
                                                                            <label for="ApplyNow" class="form-label ">Apply Now</label>
                                                                            <label class="switch">
                                                                                <input type="checkbox" id="ApplyNow">
                                                                                <span class="slider round"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2  mt-2">
                                                                        <div class="d-flex flex-column align-items-center">
                                                                            <label for="creditreportshow" class="form-label ">CRS </label>
                                                                            <label class="switch">
                                                                                <input type="checkbox" id="creditreportshow">
                                                                                <span class="slider round"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-3 mt-2">
                                                                        <div class="d-flex flex-column justify-content-center align-items-center ">
                                                                            <label for="URL_launch_apply" class="form-label ">URL
                                                                        Launch Apply</label>
                                                                            <label class="switch">
                                                                                <input type="checkbox" id="URL_launch_apply">
                                                                                <span class="slider round"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-4">
                                                                    <div class="col-3">
                                                                        <label for="StartingColor" class="form-label ">Starting
                                                                        Color</label>
                                                                        <input type="color" class="form-control" id="StartingColor" name="StartingColor" style="padding:5px 18px ; 
                                                                        height: 40px;">
                                                                    </div>
                                                                    <div class="col-3">
                                                                        <label for="StartingColorHex" class="form-label ">Starting
                                                                        Color Hex</label>
                                                                        <input type="text" 
                                                                        class="form-control" 
                                                                        name="StartingColorHex" id="StartingColorHex"
                                                                        placeholder="#000000"
                                                                        >
                                                                    </div>
                                                                    <div class="col-3">
                                                                        <label for="EndColorHex" class="form-label ">End Color </label>
                                                                        <input type="color" class="form-control" id="EndColor" name="EndColor" style="padding:5px 18px ; 
                                                                        height: 40px;">
                                                                    </div>
                                                                    <div class="col-3">
                                                                        <label for="EndColor" class="form-label ">End Color  Hex</label>
                                                                        <input type="text" 
                                                                        class="form-control" 
                                                                        name="EndColorHex" id="EndColorHex"
                                                                        placeholder="#000000"
                                                                        >
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-6" style="display: flex; flex-direction: column; justify-content: flex-start; padding: 0 20px ; ">
                                                            <label for="logoImage" class="form-label ">Issuer Logo</label>
                                                            <div class="imageUploadBox form-input ">
                                                                <div class="preview">
                                                                    <img id="issuer_logo-preview" class="previewImg">
                                                                </div>
                                                               <i class="material-icons has-sub-menu action-btns deleteImage" >close</i>
                                                                <label for="issuer_logo" class="">Choose</label>
                                                                <input type="file" id="issuer_logo" accept="image/*" onchange="showPreview(event);">
                                                            </div>

                                                        </div>
                                                        <div class="col-6" style="display: flex; flex-direction: column; justify-content: flex-start; padding: 0 20px ; ">
                                                            <label for="bankImage" class="form-label ">Bank Logo</label>
                                                            <div class="imageUploadBox form-input ">
                                                                <div class="preview">
                                                                    <img id="bank_image-preview" class="previewImg">
                                                                </div>
                                                               <i class="material-icons has-sub-menu action-btns deleteImage" >close</i>
                                                                <label for="bank_image" class="">Choose</label>
                                                                <input type="file" id="bank_image" accept="image/*" onchange="showPreview(event);">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-6">
                                                            <label for="CustomerCareNumbers" class="form-label ">Customer Care
                                                        Numbers</label>
                                                            <input type="text" class="form-control" id="CustomerCareNumbers" placeholder="Enter numbers separated by space" name="CustomerCareNumbers">
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="CustomerCareEmail" class="form-label ">Customer Care
                                                        Email</label>
                                                            <input type="text" class="form-control" id="CustomerCareEmail" placeholder="Enter emails separated by space" name="CustomerCareEmail">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 " style="padding-left: 28px!important;">
                                                    <div class="col-md-12 ">
                                                        <div class=" px-4 py-2 h-2 rounded-1 my-0 py-0 shadowBox information">
                                                            <div class="">
                                                                <label class="info-label"><span>Last Update</span> <span><%= `${cardIssuerDetail['updated_at'].getFullYear().toString().padStart(4, 0)}/${(cardIssuerDetail['updated_at'].getMonth() + 1).toString().padStart(2, 0)}/${cardIssuerDetail['updated_at'].getDate().toString().padStart(2, 0)} - ${cardIssuerDetail['updated_at'].getHours().toString().padStart(2, 0)}:${cardIssuerDetail['updated_at'].getMinutes().toString().padStart(2, 0)}` %></span></label>
                                                            </div>
                                                             <div class="">
                                                                <label class="info-label"><span>Published at</span> <span><%= cardIssuerDetail.published_at? `${cardIssuerDetail['published_at'].getFullYear().toString().padStart(4, 0)}/${(cardIssuerDetail['published_at'].getMonth() + 1).toString().padStart(2, 0)}/${cardIssuerDetail['published_at'].getDate().toString().padStart(2, 0)} - ${cardIssuerDetail['published_at'].getHours().toString().padStart(2, 0)}:${cardIssuerDetail['published_at'].getMinutes().toString().padStart(2, 0)}`:'Draft' %></span></label>
                                                            </div>
                                                            <div class="">
                                                                <label class="info-label"><span>By</span><span><%= cardIssuerDetail['ua_name']%></span> </label>
                                                            </div>
                                                        </div>
                                                        <div class="requiredWrapper mt-4">
                                                            <div class=""><span class="required">*</span> <span>Required</span></div>
                                                            <!-- <div class=""><span class="oneofrequired">**</span><span>One of the marked is required</span></div> -->
                                                            
                                                        </div>
                                                        <div class=" form-group d-flex flex-column gap-3 mt-3 " id="multiSelectWrapper">
                                                            <div class="selectBox" id="creditCardsSelectBox">
                                                                <label class="multiInputLabel" id="creditCardsLabel">
                                                                    Credit Cards (0)
                                                                </label>
                                                                <input type="text" name="creditCardsInput" id="creditCardsInput" class="multiSelectInput form-control" placeholder="Select Options" autocomplete="off"  />
                                                                <button class="material-icons material-symbols-outlined input-expand-icon" id="creditCardsDropdownIcon" >
                                                                    expand_more
                                                                </button>
                                                                <div id="creditCardsDropdown" class="selectBoxDropdown dropdownHidden "></div>
                                                                <div class="selectBoxSelected" id="creditCardsSelectBoxSelected"></div>
                                                            </div>
                                                            <div class="selectBox" id="offersSelectBox">
                                                                <label class="multiInputLabel" id="offersLabel">
                                                                    Offers (0)
                                                                </label>
                                                                <input type="text" name="offersInput" id="offersInput" class="multiSelectInput form-control" placeholder="Select Options" autocomplete="off"  />
                                                                <button class="material-icons material-symbols-outlined input-expand-icon" id="offersDropdownIcon" >
                                                                    expand_more
                                                                </button>
                                                                <div id="offersDropdown" class="selectBoxDropdown dropdownHidden "></div>
                                                                <div class="selectBoxSelected" id="offersSelectBoxSelected"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Javascripts -->
                <script src="./admin/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
                <script src="./admin/assets/plugins/bootstrap/js/popper.min.js"></script>
                <script src="./admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="./admin/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
                <script src="./admin/assets/plugins/pace/pace.min.js"></script>
                <script src="./admin/assets/plugins/highlight/highlight.pack.js"></script>
                <script src="./admin/assets/plugins/summernote/summernote-lite.min.js"></script>
                <script src="./admin/assets/js/main.min.js"></script>
                <script src="./admin/assets/js/custom.js"></script>
                <script src="./admin/assets/js/utils/blockModalsEsacping.js"></script>
                <script src="./admin/assets/js/utils/multiUniSelectObject.js"></script>
                <script src="./admin/assets/js/commonEdit.js"></script>
                <script src="./admin/assets/js/editCardIssuer.js"></script>

</body>

</html>