<html lang="en">

<head>

    <title>Card Insider - Cards &amp; Offers</title>

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link href="/./app/utils/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/./app/utils/assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" href="/./app/utils/assets/plugins/pace/pace.css">

    <!-- Theme Styles -->
    <link href="/./app/utils/assets/css/custom.css" rel="stylesheet">
    <link href="/./app/utils/assets/css/main.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32"
        href="/./app/utils/assets/images/cardInsiderImages/card-insider-icon.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="/./app/utils/assets/images/cardInsiderImages/card-insider-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="./admin/assets/plugins/flatpickr/flatpickr.min.css" rel="stylesheet">
</head>


<body>
    <div class="app align-content-stretch d-flex flex-wrap">
        <%- include('../common/commonLoader'); %>
        <%- include('../common/commonSidebar' , {sidebarData :
            sidebarDataByServer}); %>


        <div class="app-container ci-table-padding">
            <div class="d-flex flex-column">
                <div class="app-content">
                    <h1 class="application-title pb-1">
                        Manage Tele Permissions
                    </h1>
                </div>
            </div>
            <div class="card ci-scrollX">
                <header class="card-header d-flex justify-content-between">
                   

                </header>
                <table class="table">
                    <thead style="
                                    color: rgb(
                                        128,
                                        128,
                                        128
                                    ) !important;
                                ">
                        <tr style="text-align: center" id="table-header" data-filter-value="0" data-filter="none">
                            <!--id-->
                            <th data-filter-value="0" data-filter="ua_id" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer" data-filter="ua_id">User Id
                                    </span>
                                    <icon data-filter="ua_id" class="material-icons material-symbols-outlined invisible"
                                        style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <!-- ua_name -->
                            <th data-filter-value="0" data-filter="ua_name"
                                style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer" data-filter="ua_name">User Name</span>
                                    <icon data-filter="ua_name"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                    cursor: pointer;
                                                    
                                                ">
                                        straight
                                    </icon>
                                </div>
                            </th>

                            <th data-filter-value="0" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer">Axis Bank Access
                                    </span>
                                    <icon data-filter="ua_email"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <th data-filter-value="0" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer">Au Bank Access
                                    </span>
                                    <icon data-filter="ua_email"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <th data-filter-value="0" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer">Yes Bank Access
                                    </span>
                                    <icon data-filter="ua_email"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <th data-filter-value="0" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer">Bank of Baroda Access
                                    </span>
                                    <icon data-filter="ua_email"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <th data-filter-value="0" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer">Idfc Bank Access
                                    </span>
                                    <icon data-filter="ua_email"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <th data-filter-value="0" style="color: rgb(128, 128, 128) !important">
                                <div class="d-flex ">
                                    <span style="cursor: pointer">ICICI Access
                                    </span>
                                    <icon data-filter="ua_email"
                                        class="material-icons material-symbols-outlined invisible" style="
                                                cursor: pointer;
                                                
                                            ">
                                        straight
                                    </icon>
                                </div>
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody id="data-to-show">
                       
                        <% for(let i = 0; i < allData.length; i++ ){ %>
                            <tr style="font-size:13px;" class="tableRow">
                                <td style="text-align:center;"><%= allData[i].ua_id %></td>
                                <td style="text-align:center;"> <%= allData[i].ua_name %></td>
                                <td style="text-align:center;"> <input type="checkbox" class="check_box" id="axis_<%= allData[i].ua_id %>" <% if (allData[i].axis == true) { %> checked <%} else { %> <% } %> name="axis" id=""></td>
                                <td style="text-align:center;"> <input type="checkbox" class="check_box" id="au_<%= allData[i].ua_id %>" <% if (allData[i].au == true) { %> checked <%} else { %> <% } %> name="au" id=""></td>
                                <td style="text-align:center;"> <input type="checkbox" class="check_box" id="yes_<%= allData[i].ua_id %>" <% if (allData[i].yes == true) { %> checked <%} else { %> <% } %> name="yes" id=""></td>
                                <td style="text-align:center;"> <input type="checkbox" class="check_box" id="bob_<%= allData[i].ua_id %>" <% if (allData[i].bob == true) { %> checked <%} else { %> <% } %>  name="bob" id=""></td>
                                <td style="text-align:center;"> <input type="checkbox" class="check_box" id="idfc_<%= allData[i].ua_id %>" <% if (allData[i].idfc == true) { %> checked <%} else { %> <% } %>  name="idfc" id=""></td>
                                <td style="text-align:center;"> <input type="checkbox" class="check_box" id="icici_<%= allData[i].ua_id %>" <% if (allData[i].icici == true) { %> checked <%} else { %> <% } %>  name="icici" id=""></td>
                            </tr>
                        <% } %>
                       
                    </tbody>
                    <tfoot>
                        <tr>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- Javascripts -->

        <script src="/./app/utils/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
        <script src="/./app/utils/assets/plugins/bootstrap/js/popper.min.js"></script>
        <script src="/./app/utils/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/./app/utils/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="/./app/utils/assets/js/main.min.js"></script>
        <script src="/./app/utils/assets/js/custom.js"></script>
        <script src="/./app/utils/assets/js/custom/manageTeleAccess.js"></script>
    </div>
</body>

</html>